# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDEs and editors
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

#frondend
modules/
node_modules/
